src/wsdl/localhost_8080/ClienteWS/ClienteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.promerica.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.promerica.com/" name="ClienteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.promerica.com/" schemaLocation="http://localhost:8080/ClienteWS/ClienteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="guardarCliente">
<part name="parameters" element="tns:guardarCliente"/>
</message>
<message name="guardarClienteResponse">
<part name="parameters" element="tns:guardarClienteResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listadoClientes">
<part name="parameters" element="tns:listadoClientes"/>
</message>
<message name="listadoClientesResponse">
<part name="parameters" element="tns:listadoClientesResponse"/>
</message>
<message name="editarCliente">
<part name="parameters" element="tns:editarCliente"/>
</message>
<message name="editarClienteResponse">
<part name="parameters" element="tns:editarClienteResponse"/>
</message>
<message name="clienteById">
<part name="parameters" element="tns:clienteById"/>
</message>
<message name="clienteByIdResponse">
<part name="parameters" element="tns:clienteByIdResponse"/>
</message>
<portType name="ClienteWS">
<operation name="guardarCliente">
<input wsam:Action="http://controller.promerica.com/ClienteWS/guardarClienteRequest" message="tns:guardarCliente"/>
<output wsam:Action="http://controller.promerica.com/ClienteWS/guardarClienteResponse" message="tns:guardarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controller.promerica.com/ClienteWS/guardarCliente/Fault/Exception"/>
</operation>
<operation name="listadoClientes">
<input wsam:Action="http://controller.promerica.com/ClienteWS/listadoClientesRequest" message="tns:listadoClientes"/>
<output wsam:Action="http://controller.promerica.com/ClienteWS/listadoClientesResponse" message="tns:listadoClientesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controller.promerica.com/ClienteWS/listadoClientes/Fault/Exception"/>
</operation>
<operation name="editarCliente">
<input wsam:Action="http://controller.promerica.com/ClienteWS/editarClienteRequest" message="tns:editarCliente"/>
<output wsam:Action="http://controller.promerica.com/ClienteWS/editarClienteResponse" message="tns:editarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controller.promerica.com/ClienteWS/editarCliente/Fault/Exception"/>
</operation>
<operation name="clienteById">
<input wsam:Action="http://controller.promerica.com/ClienteWS/clienteByIdRequest" message="tns:clienteById"/>
<output wsam:Action="http://controller.promerica.com/ClienteWS/clienteByIdResponse" message="tns:clienteByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://controller.promerica.com/ClienteWS/clienteById/Fault/Exception"/>
</operation>
</portType>
<binding name="ClienteWSPortBinding" type="tns:ClienteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="guardarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listadoClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="clienteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClienteWS">
<port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
<soap:address location="http://localhost:8080/ClienteWS/ClienteWS"/>
</port>
</service>
</definitions>